body { font-size:150%; max-width:640px; margin:0 auto; background:#F5F5F5;}
ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, form, input, textarea, select { list-style-type:none; padding:0;}
.clear { clear:both;}
.main-page { width:auto; background:#fff; margin:10px 8px; border:5px solid #fff; border-radius:5px; }
.text-li-right .jp-audio, .jp-audio-stream, .jp-video { margin-left: 5px; border: none; background:#B5EB7C;  border-radius:4px;  width: 90px; height: 35px; line-height: 35px; padding:0 5px;}
.text-li .jp-audio, .jp-audio-stream, .jp-video { margin-left: 5px; border: 1px solid #e0e0e0; background:#fff;  border-radius:4px;  width: 90px; height: 30px; line-height: 30px; padding:0 5px;}
.jp-play { width: 100%; height: auto; display: block; padding-top: 8px;}
.jplay_play { background: url(/luqinwenda/images/jplayerstop.png) no-repeat; width: 16px; height: 19px; display: block; margin-left:1px; }
.jp-play:focus { background: none;}
.jplay_play_right { background: url(/luqinwenda/images/jplayerstop_right.png) no-repeat; width: 16px; height: 19px; display: block; float:right; margin-right:1px; }
.jp-stop {  width: 100%; height: auto; display: block; margin-left: 0; padding-top: 6px; margin-top: 0; }
.jplay_stop { display: block; margin-left: 0px;}
.jplay_stop_right { display: block; margin-left: 0px; float:right;}
.jp-stop:focus { background: none; margin-left: 0; }
.feed_file_list { border: none; margin: 0;}
.jp-stop_1 { background: url(/luqinwenda/images/jplayerplay.png) no-repeat 0 0; width: 16px; height: 19px;  }
.jp-stop_2 { background: url(/luqinwenda/images/jplayerplay.png) no-repeat -18px 0; width: 16px; height: 19px;  }
.jp-stop_3 { background: url(/luqinwenda/images/jplayerplay.png) no-repeat -39px 0; width: 18px; height: 19px;  }
.jp-stop_right_1 { background: url(/luqinwenda/images/jplayerplay_right.png) no-repeat -41px 0; width: 16px; height: 19px;  }
.jp-stop_right_2 { background: url(/luqinwenda/images/jplayerplay_right.png) no-repeat -23px 0; width: 16px; height: 19px;  }
.jp-stop_right_3 { background: url(/luqinwenda/images/jplayerplay_right.png) no-repeat -0px 0; width: 18px; height: 19px;  }
.jp-audio a { height:30px;}

.feed_file_list li { padding-left: 0px; padding:5px; background:#e9f1ff; }
.feed_file_list .expert-li { padding-left: 0px; padding:5px; background:#fff; }
.feed_file_list .spacing-li { height:5px; background:#fff; padding:0; }
.feed_file_list .time-li { background:#fff; color:#B2B2B2; text-align:center; font-size:12px; padding:0; height:30px; line-height:30px;  }

.text-li { position:relative; min-height:50px; width:95%;}
.text-li .left-head { position:absolute; top:10px; left:5px; }
.text-li .left-head img { width:36px; height:36px; border-radius:18px; }
.text-li .right-content { float:left; margin-left:55px; }
.text-li .right-content .text-nick { line-height:22px; height:22px; font-size:12px; color:#B2B2B2; }
.text-li .right-content .text_jiantou { position:absolute; left:48px; top:27px; }
.text-li .right-content .text-content { background:#fff; border-radius:3px; padding:8px 10px; line-height:20px; color:#000; border:1px solid #e0e0e0; letter-spacing:0.03em}
.text-li .right-content .text-content_radio { line-height:22px; margin-top:5px;}
.text-li .right-content .text-content_readed { color:#8F8F8F; }

.text-li-right { position:relative; min-height:50px; width:95%; float:right; margin:5px 0;}
.text-li-right .left-head { position:absolute; top:0px; right:5px; }
.text-li-right .left-head img { width:36px; border-radius:18px; }
.text-li-right .right-content { float:right; margin-right:55px; }
.text-li-right .right-content .text_jiantou { position:absolute; right:49px; top:-4px; }
.text-li-right .right-content .text-content {  background:#B5EB7C; border-radius:3px; padding:8px 10px; line-height:20px; float:right;  color:#000; }
.text-li .text-time, .text-li-right .text-time { color:#B2B2B2; text-align:center; font-size:12px; margin-top:2px; height:22px; line-height:22px; display:none;}

.jt_right { background:url(/luqinwenda/images/jt_icon_right.png) no-repeat; width: 10px; height: 30px; right:49px; top:2px; position: absolute; z-index:99 }
.jt_left { background:url(/luqinwenda/images/jt_icon_left.png); width: 6px; height: 20px; top:29px; position: absolute;}
.text-li-right .right-content .dots { float:left; line-height:32px; margin-top: 3px; margin-right:8px;}
.text-li-right .right-content .voice-second { float:left; line-height:32px; margin-top: 5px; color:#b2b2b2; }
.text-li .right-content .dots { float:left; line-height:32px; margin-right:8px;}
.text-li .right-content .voice-second { float:left; line-height:32px; margin-left:8px; color:#b2b2b2;}

.btn-action-answer { display:block; background:url(../luqinwenda/images/btn-answer.png) no-repeat; background-size:50px 21px; position:absolute; top:31px; right:0px; width:50px; height:21px; }
.btn-action-answered { display:block; background:url(../luqinwenda/images/btn-answered.png) no-repeat; background-size:50px 21px; position:absolute; top:31px; right:0px; width:50px; height:21px; }
.btn-action-readed { display:block; background:url(../luqinwenda/images/btn-readed.png) no-repeat; background-size:50px 21px; position:absolute; top:31px; right:0px; width:50px; height:21px; }

.horn-change { display:block; background:url(../luqinwenda/images/horn-icon.png) no-repeat; background-size:30px; height:30px; width:30px; margin:12px 0 0 10px; }
.btn-feed-send { display:block; background:url(../luqinwenda/images/btn-send.png) no-repeat; background-size:70px 27px; height:27px; width:70px; margin:14px 10px 0 0; float:right; border:none; }

.main-header { position:fixed; top:0px; left:0px; background:#F2F6FE; z-index:999; width:100%; padding:10px 0; border-bottom:1px solid #F5F5F5;}
.main-header .header-userlist { display:block; height:44px; overflow:hidden; }
.main-header .header-userlist a { width:40px; height:40px; border:2px solid #413127; border-radius:20px; display:inline-block; margin-left:5px; }
.main-header .header-loginuser { display:block; float:left; margin-left:15px; }
.main-header .header-loginuser a {width:40px; height:40px; border:2px solid #413127; border-radius:20px; display:block; }
.main-header .header-total { display:block; margin:0 10px; height:44px; line-height:22px; float:left; color: #666;}